
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

/* background-color: #1b1f27 */

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

a {
  color: #1772d0;
  text-decoration: none;
}

a:hover {
  color: #e88d2f;
  text-decoration: none;
}

body {
  font-family: Lato, sans-serif;
  /* font-family: 'Space Mono'; */
  /* font-size: 20px; */
  font-size: clamp(1rem, 5vw, 5rem);
  font-weight: 600;
}

table {
  width: 100%;
  max-width: 800px;
  border: 0px;
  border-spacing: 0px;
  border-collapse: separate;
  margin-right: auto;
  margin-left: auto;
}


td,
th,
p,
a {
  font-family: inherit;
  font-size: 20px;
  padding: 0px;
}


tr
{
  margin-bottom: 100px;
}

strong {
  font-family: inherit;
  font-size: 20px;
}

heading {
  font-family: inherit;
  font-size: 24px;
}
navbar-heading
{
  margin-right: 16px;
  font-family: inherit;
  font-size: 24px;
}

a.navbar-links
{
  font-size: 20px;
  /* font-weight: 900; */
  color: rgb(78, 78, 78);
  text-decoration: none;
  font-family: inherit;
}

a.navbar-links:hover
{
  color: #1772d0;
  text-decoration: underline;
}

a.navbar-links.active
{
  /* color: #e88d2f; */
  color: #000000;
  font-weight: 900;
  text-decoration: underline;

}


papertitle {
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  /* word-wrap: break-word; */
}

name {
  font-family: inherit;
  font-size: 40px;
}

button {
  font-family: inherit;
}

.one {
  width: 160px;
  height: 160px;
  position: relative;
}

.two {
  width: 160px;
  height: 160px;
  position: absolute;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

.fade {
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

span.highlight {
  background-color: #ffffd0;
}

.hidden {
    display: none;
    opacity: 0;
}

a {
    cursor: pointer;
}

.disabled {
    color: gray;
    pointer-events: none;
}

.chain {
    border-left: 6px solid lightgray;
    height: 24px;
    position: relative;
    left: 50%;
    margin-left: -3px;
    top: 0;
    border-left-style: solid;
}


img.image-table {
  width: 100%;
  border-radius: 5%;
  border: solid 1px #dedede07;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
}

img.image-table:hover {
  box-shadow: 0 0px 16px #e88d2f;
  transform: scale(1.05);
}

img.pfp
{
  width: 100%;
  height: 100%;
  border-radius: 4%;
  border: solid 1px #dedede07;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
}

img.pfp:hover {
  box-shadow: 0 0px 16px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
  cursor: pointer;
}



table.content-table
{
  border-spacing: 0px 20px;
  animation: fadeIn 0.3s ease-in;
}


/* table.content-table tr
{
    box-shadow: 0 2px 6px rgba(99, 96, 96, 0.2);
    transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
}

table.content-table tr:hover
{
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
    cursor: pointer;
} */


td.image-cell
{
  border-radius: 5%;
  border-color: #1772d0;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 100%;
  padding-left: 3%;
}

td.image-cell:hover
{
  border-color: #e88d2f;
}


td.desc-cell {
  height: 100%;
  width: 80%;
  padding-top: 0;
  padding-left: 35px;
  padding: 3%;
}
/* 
td.desc-cell:hover {
  color: #ffffff;
} */

tr.desc-cell {
  height: 100%;
  width: 80%;
  padding-top: 0;
  padding-left: 5%;
}

p.desc-cell-text 
{
  font-family: Lato, sans-serif;
  font-size: 18px; 
  /* text-align: justify; */
  line-height: 1.35;
}

p.desc-cell-text-small {
  font-size: 15px;
  font-style: italic;
  text-align: right;
}


a.footer-link
{
  font-size: 16px;
  text-decoration: none;
  font-family: inherit;
}

table.desc-table
{
  /* padding-left: 10%; */
  /* padding-right: 10%; */
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  border-top: solid 1px grey;
}

td.desc-cell-secondary
{
  width: 80%;
  text-align: left;
}

td.cell-header
{
  padding-top: 5%;
  padding-bottom: 5%;
  width: 63%;
  vertical-align: middle;
}


#splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #1b1f27;
  z-index: 9999;  /* animation: fadeout 1s ease-in-out; */
}


@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
#splash-screen img {
  max-width: 100%;
  max-height: 100%;
  animation: pulse 1.2s ;
}

#splash-screen.fade-out {
  opacity: 0;
  transition: opacity 0.8s ease-out;
}

/* FANCY NAME */
h1 {
  font-family: 'Space Mono', monospace;
  font-size: clamp(1.5rem, 5vw, 5rem);
  color: rgb(12, 12, 12);
  white-space: nowrap;
  padding: 0%;
  /* padding: 0rem clamp(1rem, 2vw, 3rem); */
  /* border-radius: clamp(0.4rem, 0.75vw, 1rem); */
  margin: 0rem;
  text-align: center;
}